[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
jupyterlab = "*"
numpy = "==1.19.3"
pandas = "*"
matplotlib = "*"
mglearn = "*"
graphviz = "*"

[requires]
python_version = "3.7"
